body{
    margin: 0;
    padding: 0;
}

.contenido h1 {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    
}

.contenido {
    background-color:#331055;
    width: 400px;
    height: 600px;
    padding: 20px 30px;
    border-radius: 20px;
    margin: auto;
    border: 2px solid  gray;
    box-shadow: rgba(0, 0,0, .1);
}

.input-box input {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 13px;
    padding: 0 0 0 10px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
}

.input-box i{
    position: absolute;
    right: 5px;
    top: 35%;
    transform: translate(-30%);
    font-size: 20px;
}

.input-box ::placeholder {
    color: black;
}

.contenido .input-box {
    width: 98%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.button {
    height: 50px;
    width: 405px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    box-shadow: .5px .5px 150px #252525;
}

.type1::after {
    content: "Save";
    height: 50px;
    width: 400px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1::before {
    content: "Sign Up";
    height: 50px;
    width: 400px;
    background-color:#fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

header{
    background-color: #140d1a;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    position: relative;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    font-size: 18px;
    margin-right: 40px;
}

.nav a {
    color: #822989;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}

.Parrafo{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    font-family: "Montserrat";
}

.parrafo1{
    font-style: italic;
    font-weight: 700;
    font-family: "Montserrat";
}

.contenido-nav{
    margin-bottom: 30px;
}
