<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenido">
        <h1>Sing Up</h1>
        <form action="">
            <div class="input-box">
                <input type="text" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Apellido" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Correo Electronico" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Telefono" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Direccion" required>
            </div>
            <button type="submit">Sing Up</button>
        </form>
    </div>
</body>
</html>